# Arquivos de configuração com credenciais
config.js
app-controle-de-carga-d7aab-firebase-adminsdk-fbsvc-5ce0f69631.json

# Outros repositórios Git
controlecarga/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Dependências
node_modules/

# Arquivos temporários
*.tmp
*.temp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo
