# Arquivos de configuração com credenciais
config.js

# Outros repositórios Git
controlecarga/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Dependências
node_modules/

# Arquivos temporários
*.tmp
*.temp
